@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
}

:root {
  /* Colors */
  /* Primary */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /* Neutral */
  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
  --poppins: "Poppins", sans-serif;
}

.red {
  background-color: red;
}

.cyan {
  background-color: var(--cyan);
}

.yellow {
  background-color: var(--orange);
}

.blue {
  background-color: var(--blue);
}

h1 {
  font-family: var(--poppins);
  text-align: center;
  color: var(--grey-500);
  margin-top: 4rem;
}

h1 > span {
  font-weight: 200;
}

h1 + p {
  display: block;
  margin: 0.5rem auto;
  text-align: center;
  width: 550px;
}

.card-container {
  display: block;
  margin-left: 500px;
}
.card {
  font-family: var(--poppins);
  width: 400px;
  height: 230px;
  border-radius: 7px;
  position: relative;
  box-shadow: 0px 0px 20px 5px hsl(0, 0%, 95%);
  overflow: hidden;
}

.card .content {
  padding: 2rem 2rem;
}

.line {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
}
.card h3 {
  color: var(--grey-500);
}

.card p {
  color: var(--grey-400);
}

.card img {
  display: block;
  margin-left: auto;
  margin-top: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
